KOKU-HAK/Services/LDAP/LDAPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LDAPServiceImplService" targetNamespace="http://www.arcusys.fi/pttk/palvelukanava" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.arcusys.fi/pttk/palvelukanava" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.arcusys.fi/pttk/palvelukanava" version="1.0" xmlns:tns="http://www.arcusys.fi/pttk/palvelukanava" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="createOrUpdateLDAPUser" type="tns:createOrUpdateLDAPUser"/>
<xs:element name="createOrUpdateLDAPUserResponse" type="tns:createOrUpdateLDAPUserResponse"/>
<xs:element name="getCnBySSN" type="tns:getCnBySSN"/>
<xs:element name="getCnBySSNResponse" type="tns:getCnBySSNResponse"/>
<xs:element name="getLDAPUser" type="tns:getLDAPUser"/>
<xs:element name="getLDAPUserDefault" type="tns:getLDAPUserDefault"/>
<xs:element name="getLDAPUserDefaultResponse" type="tns:getLDAPUserDefaultResponse"/>
<xs:element name="getLDAPUserResponse" type="tns:getLDAPUserResponse"/>
<xs:element name="updatePassword" type="tns:updatePassword"/>
<xs:element name="updatePasswordResponse" type="tns:updatePasswordResponse"/>
<xs:complexType name="getLDAPUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserDN" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
      <xs:element minOccurs="0" name="userGroup" type="xs:string"/>
      <xs:element minOccurs="0" name="realm" type="xs:string"/>
      <xs:element minOccurs="0" name="baseDn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLDAPUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LDAPUser" type="tns:ldapUser"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ldapUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="address1" type="xs:string"/>
      <xs:element minOccurs="0" name="address2" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="phone2" type="xs:string"/>
      <xs:element minOccurs="0" name="postOffice1" type="xs:string"/>
      <xs:element minOccurs="0" name="postOffice2" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode1" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode2" type="xs:string"/>
      <xs:element minOccurs="0" name="SSN" type="xs:string"/>
      <xs:element minOccurs="0" name="screenName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getCnBySSN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserDN" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="ssn" type="xs:string"/>
      <xs:element minOccurs="0" name="realm" type="xs:string"/>
      <xs:element minOccurs="0" name="baseDn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getCnBySSNResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScreenName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createOrUpdateLDAPUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserDN" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="realm" type="xs:string"/>
      <xs:element minOccurs="0" name="baseDn" type="xs:string"/>
      <xs:element minOccurs="0" name="screenName" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="address1" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode1" type="xs:string"/>
      <xs:element minOccurs="0" name="postOffice1" type="xs:string"/>
      <xs:element minOccurs="0" name="ssn" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="address2" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode2" type="xs:string"/>
      <xs:element minOccurs="0" name="postOffice2" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="phone2" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="userGroup" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createOrUpdateLDAPUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScreenName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLDAPUserDefault">
    <xs:sequence>
      <xs:element minOccurs="0" name="realm" type="xs:string"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLDAPUserDefaultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LDAPUser" type="tns:ldapUser"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="ldapUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserDN" type="xs:string"/>
      <xs:element minOccurs="0" name="bindUserPassword" type="xs:string"/>
      <xs:element minOccurs="0" name="realm" type="xs:string"/>
      <xs:element minOccurs="0" name="baseDn" type="xs:string"/>
      <xs:element minOccurs="0" name="screenName" type="xs:string"/>
      <xs:element minOccurs="0" name="passwordDigest" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updatePasswordResponse">
    <xs:sequence>
      <xs:element name="Successful" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updatePassword">
    <wsdl:part element="tns:updatePassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLDAPUserDefault">
    <wsdl:part element="tns:getLDAPUserDefault" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePasswordResponse">
    <wsdl:part element="tns:updatePasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLDAPUserDefaultResponse">
    <wsdl:part element="tns:getLDAPUserDefaultResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCnBySSN">
    <wsdl:part element="tns:getCnBySSN" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLDAPUserResponse">
    <wsdl:part element="tns:getLDAPUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrUpdateLDAPUser">
    <wsdl:part element="tns:createOrUpdateLDAPUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLDAPUser">
    <wsdl:part element="tns:getLDAPUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrUpdateLDAPUserResponse">
    <wsdl:part element="tns:createOrUpdateLDAPUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCnBySSNResponse">
    <wsdl:part element="tns:getCnBySSNResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LDAPService">
    <wsdl:operation name="getLDAPUser">
      <wsdl:input message="tns:getLDAPUser" name="getLDAPUser">
    </wsdl:input>
      <wsdl:output message="tns:getLDAPUserResponse" name="getLDAPUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCnBySSN">
      <wsdl:input message="tns:getCnBySSN" name="getCnBySSN">
    </wsdl:input>
      <wsdl:output message="tns:getCnBySSNResponse" name="getCnBySSNResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrUpdateLDAPUser">
      <wsdl:input message="tns:createOrUpdateLDAPUser" name="createOrUpdateLDAPUser">
    </wsdl:input>
      <wsdl:output message="tns:createOrUpdateLDAPUserResponse" name="createOrUpdateLDAPUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLDAPUserDefault">
      <wsdl:input message="tns:getLDAPUserDefault" name="getLDAPUserDefault">
    </wsdl:input>
      <wsdl:output message="tns:getLDAPUserDefaultResponse" name="getLDAPUserDefaultResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <wsdl:input message="tns:updatePassword" name="updatePassword">
    </wsdl:input>
      <wsdl:output message="tns:updatePasswordResponse" name="updatePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPServiceImplServiceSoapBinding" type="tns:LDAPService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLDAPUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLDAPUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLDAPUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCnBySSN">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCnBySSN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCnBySSNResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrUpdateLDAPUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createOrUpdateLDAPUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrUpdateLDAPUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLDAPUserDefault">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLDAPUserDefault">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLDAPUserDefaultResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAPServiceImplService">
    <wsdl:port binding="tns:LDAPServiceImplServiceSoapBinding" name="LDAPServiceImplPort">
      <soap:address location="http://intalio.intra.arcusys.fi:8080/pttk-services/services/LDAPService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>