KOKU-Pyynto/Services/ProcessReceipient-Process.wsdl

<?xml version='1.0' encoding='utf-8'?>
<wsdl:definitions xmlns:User="http://arcusys.fi/ProcessReceipient/User" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:KokuRequestProcessingServiceImpl="http://soa.kv.koku.arcusys.fi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:Interface="http://arcusys.fi/ProcessReceipient/Interface" xmlns:bpel="http://docs.oasis-open.org/wsbpel/2.0/process/executable" xmlns:diag="http://arcusys.fi/ProcessReceipient" xmlns:Services="http://arcusys.fi/ProcessReceipient/Services" xmlns:tns="http://www.arcusys.fi/DynamicFields" xmlns:Copyofform1_1="http://www.intalio.com/gi/Copyofform1_1.gi" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:attachments="http://www.intalio.com/gi/Copyofform1_1.gi/attachments" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:pnlk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:this="http://arcusys.fi/ProcessReceipient/Process" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://arcusys.fi/ProcessReceipient/Process">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://arcusys.fi/ProcessReceipient/Process">
            <xs:import namespace="http://www.arcusys.fi/DynamicFields" schemaLocation="../DynamicFields.xsd"/>
            <xs:element name="VastaanotaRequest" type="tns:DynamicFields_Type"/>
            <xs:element name="VastaanotaResponse" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:import namespace="http://www.intalio.com/gi/Copyofform1_1.gi" location="Copyofform1_1.gi.wsdl"/>
    <wsdl:message name="VastaanotaRequest">
        <wsdl:part name="body" element="this:VastaanotaRequest"/>
    </wsdl:message>
    <wsdl:message name="VastaanotaResponse">
        <wsdl:part name="body" element="this:VastaanotaResponse"/>
    </wsdl:message>
    <wsdl:portType name="ForInterface">
        <wsdl:operation name="Vastaanota">
            <wsdl:input message="this:VastaanotaRequest" name="Vastaanota"/>
            <wsdl:output message="this:VastaanotaResponse" name="VastaanotaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CanonicBindingForInterface" type="this:ForInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Vastaanota">
            <soap:operation style="document" soapAction="http://arcusys.fi/ProcessReceipient/Process/ForInterface/Vastaanota"/>
            <wsdl:input name="Vastaanota">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="VastaanotaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WFmagic_XVPwMq0XEeCYk7-iNBydwQServiceBinding" type="Copyofform1_1:Process">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="initProcess">
            <soap:operation style="document" soapAction="http://www.intalio.com/gi/Copyofform1_1.gi/Process/initProcess"/>
            <wsdl:input name="initProcessRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="initProcessResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyTaskCompletion">
            <soap:operation style="document" soapAction="http://www.intalio.com/gi/Copyofform1_1.gi/Process/notifyTaskCompletion"/>
            <wsdl:input name="notifyTaskCompletionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="notifyTaskCompletionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CanonicServiceForInterface">
        <wsdl:port name="canonicPort" binding="this:CanonicBindingForInterface">
            <soap:address location="http://localhost:8080/ode/processes/DynamicFormTest1/ProcessReceipient/Process/Interface"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="WFmagic_XVPwMq0XEeCYk7-iNBydwQService">
        <wsdl:port name="Process_for_UserForThePortTypeProcessPort" binding="this:WFmagic_XVPwMq0XEeCYk7-iNBydwQServiceBinding">
            <soap:address location="http://localhost:8080/ode/processes/DynamicFormTest1/ProcessReceipient/Process/User/WFmagic_XVPwMq0XEeCYk7-iNBydwQ"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>