KOKU-HAK/Services/ProcessIdentifier/ProcessIdentifier.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.arcusys.fi/PTTK/ProcessIdentifier" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.arcusys.fi/PTTK/ProcessIdentifier">

    <element name="input" type="tns:id-format"></element>
    
    <element name="output" type="string"></element>

    <complexType name="id-format">
    	<sequence>
    		<element name="muoto" maxOccurs="1" minOccurs="1" type="string">
    		</element>
    		<element name="merkkijono" type="string"></element>
    		<element name="prosessi-id" type="string"></element>
    	</sequence>
    </complexType>
</schema>