KOKU-MultipleTextMessage/Services/tas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tas="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/">
    <wsdl:documentation>tas</wsdl:documentation>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/">
            <xsd:complexType name="authCredentials">
                <xsd:sequence>
                    <xsd:element name="participantToken" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="authorizedUsers">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="user" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="authorizedRoles">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="role" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="attachmentMetadata">
                <xsd:sequence>
                    <xsd:element name="mimeType" type="xsd:string"/>
                    <xsd:element name="filename" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="addRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="authCredentials" type="tas:authCredentials"/>
                        <xsd:element name="attachmentMetadata" type="tas:attachmentMetadata"/>
                        <xsd:choice>
                            <xsd:element name="localFileURL" type="xsd:anyURI"/>
                            <xsd:element name="payload" type="xsd:base64Binary"/>
                            <xsd:element name="plaintext" type="xsd:string"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="url" type="xsd:anyURI"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="authCredentials" type="tas:authCredentials"/>
                        <xsd:element name="attachmentURL" type="xsd:anyURI"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="okResponse" type="xsd:string"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="deleteRequest">
        <wsdl:part name="deleteRequest" element="tas:deleteRequest"/>
    </wsdl:message>
    <wsdl:message name="okResponse">
        <wsdl:part name="okResponse" element="tas:okResponse"/>
    </wsdl:message>
    <wsdl:message name="addRequest">
        <wsdl:part name="addRequest" element="tas:addRequest"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tas:addResponse"/>
    </wsdl:message>
    <wsdl:portType name="tasPortType">
        <wsdl:operation name="delete">
            <wsdl:input message="tas:deleteRequest" wsaw:Action="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/delete"/>
            <wsdl:output message="tas:okResponse" wsaw:Action="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/tasServicePort/deleteResponse"/>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:input message="tas:addRequest" wsaw:Action="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/add"/>
            <wsdl:output message="tas:addResponse" wsaw:Action="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/tasServicePort/addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="tasServiceSOAPBinding" type="tas:tasPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="delete">
            <soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/delete" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap:operation soapAction="http://www.intalio.com/BPMS/Workflow/TaskAttachmentService/add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="tas">
        <wsdl:port name="tasServiceSOAP" binding="tas:tasServiceSOAPBinding">
            <soap:address location=" http://intalio.intra.arcusys.fi:8080/axis2/services/tas.tasServiceSOAP/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>