KOKU-HAK/Services/eMailService/EMailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EMailService" targetNamespace="http://www.arcusys.fi/pttk/palvelukanava" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.arcusys.fi/pttk/palvelukanava" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.arcusys.fi/pttk/palvelukanava" version="1.0" xmlns:tns="http://www.arcusys.fi/pttk/palvelukanava" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="sendEmail" type="tns:sendEmail"/>
<xs:element name="sendEmailResponse" type="tns:sendEmailResponse"/>
<xs:element name="sendEmailWithAttachment" type="tns:sendEmailWithAttachment"/>
<xs:element name="sendEmailWithAttachmentResponse" type="tns:sendEmailWithAttachmentResponse"/>
<xs:complexType name="sendEmailWithAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="smtpHostName" type="xs:string"/>
      <xs:element minOccurs="0" name="smtpPort" type="xs:string"/>
      <xs:element minOccurs="0" name="contentType" type="xs:string"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
      <xs:element minOccurs="0" name="from" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="to" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cc" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="bcc" type="xs:string"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="attachmentName" type="xs:string"/>
      <xs:element minOccurs="0" name="attachment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendEmailWithAttachmentResponse">
    <xs:sequence>
      <xs:element name="EmailResult" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="smtpHostName" type="xs:string"/>
      <xs:element minOccurs="0" name="smtpPort" type="xs:string"/>
      <xs:element minOccurs="0" name="contentType" type="xs:string"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
      <xs:element minOccurs="0" name="from" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="to" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cc" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="bcc" type="xs:string"/>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendEmailResponse">
    <xs:sequence>
      <xs:element name="EmailResult" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendEmail">
    <wsdl:part element="tns:sendEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendEmailWithAttachmentResponse">
    <wsdl:part element="tns:sendEmailWithAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendEmailResponse">
    <wsdl:part element="tns:sendEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendEmailWithAttachment">
    <wsdl:part element="tns:sendEmailWithAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EMailService">
    <wsdl:operation name="sendEmailWithAttachment">
      <wsdl:input message="tns:sendEmailWithAttachment" name="sendEmailWithAttachment">
    </wsdl:input>
      <wsdl:output message="tns:sendEmailWithAttachmentResponse" name="sendEmailWithAttachmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendEmail">
      <wsdl:input message="tns:sendEmail" name="sendEmail">
    </wsdl:input>
      <wsdl:output message="tns:sendEmailResponse" name="sendEmailResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EMailServiceSoapBinding" type="tns:EMailService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendEmailWithAttachment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendEmailWithAttachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendEmailWithAttachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EMailService">
    <wsdl:port binding="tns:EMailServiceSoapBinding" name="EMailServiceImplPort">
      <soap:address location="http://intalio.intra.arcusys.fi:8080/pttk-services/services/EMailService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>